Uses.md
#bases
chroma/*
chroma/

# Virtual env
.venv/
venv/


# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
*.joblib
*.pkl
models/

# Reports
*.html
reports/

# Env variables
.env
.env.*

# Unit tests
src/__unit__.py

# Monitoring
drift_report.html
